
*{
    padding:0;
    margin:0;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav img {
    width: 200px;
}
nav a{
    color: #069e8e;
    text-decoration: none;
}
body{
    font-family:Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    background-color:hsl(200, 12%, 90%);
}

.tabs{
    display: flex;
    justify-content:center;
}
 .tabs li {
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    list-style: none;
} 

 .tabs a{
    color: #000000;
    /* font-size: 12px; */
    padding: 10px;
    width: fit-content;
    text-decoration: none;
    background-color:rgba(36, 54, 57, 0.313) ;

}
.container {
    width: 830px; 
    margin: 15px auto;
    background-color:rgb(213, 221, 219);  
}

.tax-section {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.5%;
    font-size: large;
    font-weight: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    /* height: 500px; */
}
.input-size{
    align-items: center;
    width:180px;
    height: 25px;

    box-shadow:azure;
}
.bill-section{
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;

}
.btn-1 {
    margin: 4px;
    border-radius: 20px;
    height: 30px;
    width: 100px;
    color: #000000;
    background-color:#688383;

}
.salary-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
.breakdown{
    display: grid;
    place-items: center;
}

.expense-list{
    display: grid;
    place-items: center;
}
.expense-form{
    display: flex;
    flex-wrap: wrap;
}
.expense-form input{
    margin: 10px;
}
#gross-salary{
    width:250px;
    height: 25px;
    
}
.info{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-weight:bold;

}



/* Bill */
.bill {
    float: right;
    width: 50%;
    padding: 2%;
    /* height: 400px; */
}




/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #595b83;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#fff;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #ff7200;
}

